/* ============= CSS Variable Defined =============== */
:root {
  /* Colors */
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-light-gray: #c2c2c2; 
  --color-dark-gray: #292929;
  --color-gray: #757575;

  /* Fonts */
  --main-font-family: "Electrolize", "acumin-pro-extra-condensed", "hot-salsa";
}

/*=====================================================*/

/*=============== Main HTML ===============*/

html {
  font-family: var(--main-font-family);
}
body {
  text-align: center;
  background-attachment: fixed;
  background-color: var(--color-black);
  background-position: center center;
  margin: 0px 0px 10px 0px;
  padding: auto;
  padding-top: 0px;
  font-family: var(--main-font-family);
  color: var(--color-white);
}
a:link {
  text-decoration: none;
  color: var(--color-light-gray);
  transition: 0.5s;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--color-white);
}
ul {
  padding: 0px;
  margin: 0px;
}

/*===== Splat Starts =====*/
.splat_main_container {
  display: grid;
  grid-template-columns: auto;
  position: relative;
  padding: 5px 0px 5px 0px;
  justify-items: center;
}
.splat_rotate {
  position: absolute;
  transform: rotate(0.5turn);
  width: 100%;
  z-index: 0;
  object-fit: cover;
}
.splat {
  position: absolute;
  width: 100%;
  object-fit: cover;
  bottom: 0px;
  overflow: hidden;
}
.splat_container {
  position: relative;
  width: 100%;
  grid-column: 1/-1; 
}

/*=============== Nav Bar =============== */

/*===== Grey navbar =====*/
.main_greynav_container {
  display: grid;
  grid-template-columns: repeat(10,max-content);
  grid-template-rows: minmax(10px, 35px);
  color:var(--color-gray);
  font-size: 14px;
  background-color: var(--color-black);
  padding: 0px 10px 0px 10px;
  position: relative;
  justify-content: end;
  place-items: center;
}
.greynav_container {
  padding: 0px 10px;
}
.greynav_item {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 1s;
  display: grid;
  place-items: center;
  cursor: pointer;
  justify-self: end;

}
.greynav_hover:hover {
  color: var(--color-white);
}
.greynav_item a {
  color: var(--color-white);
}
.fab {
padding: 0px;
font-size: 30px;
height: 10px;
width: 100%;
text-align: center;
text-decoration: none;
color: var(--color-white);
justify-self: end;
}

/*===== Regular navbar =====*/
.main_nav_container {
  display: grid;
  grid-template-columns: max-content minmax(50px, auto) max-content max-content;
  grid-template-rows: auto;
  color: var(--secondary-text);
  font-size: 26px;
  background-color: var(--color-black);
  justify-items: center;
  padding: 10px 10px 0px 10px;
}
.nav_container {
  align-self: center;
  align-content: center;
}
.nav_item {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  position: relative;
  list-style-type: none;
  margin: 0px;
  padding: 0px;

}
.nav_item li {
  display: inline-block;
  padding: 0px 20px
}
.nav_image img{
  width: 80px;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  padding: 0px 0px 0px 20px;
  justify-self: center;
  place-self: center;
}
.nav_download {
  background-color: var(--color-gray);
  border: 1px solid var(--color-white);
  color: var(--color-white);
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 0.4px;
  margin-left: 20px;
}
.nav_download:hover {
  background-color: var(--color-dark-gray);
}
.nav_end {
  justify-self: end;
  font-weight: 900;
  letter-spacing: 1px;
}
.nav_absolute {
  position: absolute;
  background-color: var(--color-black);
  z-index: 10;
  text-align: left;
  display: none;
  top: 30px;
  
}
.nav_absolute li {
  padding: 20px;
  display: block;
  background-color: var(--color-black);
}
.nav_absolute li:hover {
  background-color: var(--color-gray);
}
.nav_absolute li:hover{
  color: var(--color-white);

}
.nav_list:hover {
  color: var(--color-white);
  transition: 0.5s;
}
.nav_list li {
  color: var(--color-light-gray);
}
.fa-caret-down {
  transition: 0.5s;
}
.nav_list:hover .fa-caret-down {
  transform: rotate(-0.25turn);
  transition: 0.5s;
  color: var(--color-white);
}

/* Mobile navbar */
.blacknav_sticky {
  position: sticky;
  display: none;
  top: 0;
  z-index: 10;
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
 }

.main_blacknav_container {
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: auto;
  justify-items: left;
  font-family: "Orbitron";
  text-align: left;
  font-size: 25px;
}

#blacknav_bars {
  padding: 10px;
  background-color: var(--color-dark-gray);
  border: 1px solid var(--color-gray);
  justify-self: right;

}

.blacknav_bar1, .blacknav_bar2, .blacknav_bar3 {
  width: 35px;
  height: 5px;
  background-color:var(--color-white);
  margin: 6px 0;
  transition: 0.4s;
}

.blacknav_change .blacknav_bar1 {
  transform: rotate(-45deg) translate(-9px, 6px) ;
}
.blacknav_change .blacknav_bar2 {
  opacity: 0;
}
.blacknav_change .blacknav_bar3 {
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.blacknav_mobile {
opacity: 0;
height: 0;
}

.blacknav_mobile_active {
  opacity: 100;
  height: 100%;
  transition: 1s;
}

#blacknav_bg_sticky {
  position: sticky;
  top: 0;
  z-index: 9;
}
#blacknav_bg {
  position: absolute;
}

.blacknav_bg_active {
  background-color:var(--color-black);
  width: 100vw;
  height: 100vh;
  opacity: 90%;
  transition: 0.5s;
}

.blacknav_item {
  margin: 10px;
  padding: 25px 10px 0px 0px;
}

.blacknav_login {
  margin: 10px;
  padding: 25px 10px 0px 0px;
  padding-top: 0px;
}
.blacknav_item ul {
  list-style-type: none;
  margin: 0px;
  padding-top: 10px;
}

.blacknav_ul {
  display: none;
}

.blacknav_ul li {
  padding: 15px 10px 15px 10px;
  color:var(--color-light-gray);
}

.blacknav_active {
  display: block;
  
}

.blacknav_social li{
  display: inline-block;
  padding: 10px;
}

.blacknav_caret .fa-caret-down {
  transform: rotate(-0.25turn);
  transition: 0.5s;
  color:var(--color-white);
}

/* ============= Main Content ===================*/
/* Main Page */

#main_banner_container {
  display: grid;
  grid-template-columns: auto;
  background-image: url("../img/home1.jpg"); 
  background-position: center;
  background-size: cover;
  padding: 300px 0px;
  font-size: 35px;
  letter-spacing: 1.2PX;
  text-shadow: 0 2px 4px rgb(0 0 0 / 80%), 0 8px 16px rgb(0 0 0 / 60%);
}

.banner_item {
  width: 100%;
  height: 100%;
  position: relative;
  text-transform: uppercase;
  display: grid;
}

.banner_title {
  font-size: 50px;
  font-family: "orbitron";
  font-weight: bolder;
  letter-spacing: 6px;
  padding: 20px 0px;
}

.banner_subtitle {
  font-size: 25px;
  font-family: "electrolize";
  font-weight: 600;
  padding: 20PX 0px;
}

/* Below Main page */
#main_text_container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color:var(--color-black);
  background-size: cover;
  background-position: center center;
  padding: 10px 150px;
  justify-content: center;

}

.text_item {
  position: relative;
  overflow: hidden;
  object-fit: contain;
  display: grid;
  color:var(--color-white);
  justify-self: end;
}

.text_title {
  font-family: "Orbitron";
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 40px;
  padding: 10px 10vw 10px 10vw;
  
}

.text_subtitle {
  font-family: "electrolize";
  font-weight: 100;
  letter-spacing: 0px;
  font-size: 25px;
  padding: 15px;
  line-height: 2;
}

/* Footer */

#main_footer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color:var(--color-gray);
}

/* 4 Image squad */

#main_gallery_container {
  display: grid;
  grid-template-columns: repeat(12, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  background-color:var(--color-black);
  justify-content: center;
  padding:0px 20vw 100px 20vw;
  gap: 10px;
}

.gallery_2 {
  grid-column: span 2;
}

.gallery_6 {
  grid-column: span 6;
}
.gallery_8 {
  grid-column: span 8;
}
.gallery_10 {
  grid-column: span 10;
}

.gallery_12 {
  grid-column: span 12;
  padding: 0px 5vw;
}

.gallery_item .gallery_image img {
  width: 100%; 
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  border-radius: 20px;

}

.gallery_item {
  position: relative;
  overflow: hidden;
  object-fit: contain;
  display: grid;
  color:var(--color-white);
  justify-self: end;
}

/* Media Changes */

@media (max-width: 760px) {
  .main_greynav_container {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .greynav_container {
  justify-self: center;
  }
  .fab {
    padding: 10px 0px;
  }
}

@media (max-width: 1350px) {
  #main_gallery_container {
    grid-template-columns: repeat(12, 7vw);
    padding: 0px 10vw 30px 10vw;
    gap: 5px;
  }
}

@media (max-width: 800px) {
  #main_gallery_container {
    grid-template-columns: repeat(12, 7vw);
  }
}

@media (max-width: 420px) {
  #main_gallery_container {
    grid-template-columns: repeat(12,minmax(100px 5vw));
    gap: 3px;
    padding: 0px 10px 30px 10px;
  }
}

@media (max-width: 800px) {
  #main_banner_container {
    padding: 150px 10px;
    gap: 0px;
    font-size: 10px;
  }
  .banner_subtitle {
    font-size: 12px;
    padding: 5px;
  }
  .banner_title {
    font-size: 20px;
    padding: 5px;
  }
}

@media (max-width: 400px) {
  #main_banner_container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 130px 0px;
    gap: 0px;
  }
  .banner_title {
    font-size: 18px;
  }
  .banner_subtitle {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  #main_text_container {
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    padding: 10px;
  }
  .text_title {
    font-size: 22px;
    padding: 0px;
  }
  .text_subtitle {
    font-size: 15px;
    padding: 0px 0px;
  }
}

@media (max-width: 1500px) {
  #main_text_container {
    padding: 0px 100px;
  }
  .text_title {
    padding: 0px 0vw;
    font-size: 33px;
  }
  .text_subtitle {
    font-size: 20px;
  }
}

@media (max-width:1100px) {
  .blacknav_sticky {
    display: block;
    }
}

@media (max-width: 1100px) {
  .main_nav_container {
    display: none;
  }
  .main_greynav_container {
    display: none;
  }
}
























/*# sourceMappingURL=UEFMain.css.map */


/* faction stuff starts here */

/*
#main_faction_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 40px;
  background-image: url("../img/faction.jpg");
  background-size: cover;
  padding: 200px;
  padding-top: 250px;
  padding-bottom: 250px;
  justify-content: center;
  justify-items: center;
  transition: 0.5s;
}

.faction_item .faction_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  opacity: 70%;
  align-self: center;
}

.faction_image {
  transition: 0.5s;
}

.faction_item {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
  align-items: center;
  justify-items: center;
}

.faction_item .faction_image img:hover {
  opacity: 100%;
}

.faction_opacity {
  opacity: 0%;
  transition: 0.5s;
}

@media (max-width: 800px) {
  #main_faction_container {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    padding: 50px;
  } 
  */