/* ============= CSS Variable Defined =============== */
:root {
  /* Colors */
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-white-gray: #c2c2c2; 
  --color-gray: #5e5e5e;
  --color-dark-gray: #111111;
  --color-gold:#f7941d;

  /* Fonts */
  --main-font-family: "Electrolize", "Orbitron", "Russo One";
  --title-font-family: "Russo One", "Orbitron", "Electrolize";
  
  /* Font Size */
  --size-title: 70px;
}

/*=============== Main HTML ===============*/

html {
  font-family: var(--main-font-family);
}
body {
  text-align: center;
  background-attachment: fixed;
  background-color: var(--color-dark-gray);
  background-position: center center;
  margin: 0px 0px 10px 0px;
  padding: auto;
  padding-top: 0px;
  font-family: var(--main-font-family);
  color: var(--color-white);
}

a:link {
  text-decoration: none;
  color: var(--color-white-gray);
  transition: 0.5s;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--color-white);
}
ul {
  padding: 0px;
  margin: 0px;
}

/*===== Splat Starts =====*/
.splat_main_container {
  display: grid;
  grid-template-columns: auto;
  position: relative;
  padding: 5px 0px 5px 0px;
  justify-items: center; 
}
.splat_rotate {
  position: absolute;
  transform: rotate(0.5turn);
  width: 100%;
  z-index: 0;
  object-fit: cover;
}
.splat {
  position: absolute;
  width: 100%;
  object-fit: cover;
  bottom: 0px;
  overflow: hidden;
}
.splat_container {
  position: relative;
  width: 100%;
  grid-column: 1/-1; 
}

.splat_black_background {
  background-color: var(--color-black)
}

/*=============== Nav Bar =============== */

/*===== Top Navbar =====*/
.main_topnav_container {
  display: grid;
  grid-template-columns: repeat(10,max-content);
  grid-template-rows: minmax(10px, 35px);
  color:var(--color-gray);
  font-size: 14px;
  background-color: var(--color-black);
  padding: 0px 10px 0px 10px;
  position: relative;
  justify-content: end;
  place-items: center;
}
.topnav_container {
  padding: 0px 10px;
}
.topnav_item {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.5s;
  display: grid;
  place-items: center;
  cursor: pointer;
  justify-self: end;

}
.topnav_hover:hover {
  color: var(--color-white);
}
.topnav_item a {
  color: var(--color-white);

}
.fab {
padding: 0px;
font-size: 30px;
height: 10px;
width: 100%;
text-align: center;
text-decoration: none;
color: var(--color-white-gray);
justify-self: end;
transition: 0.5s;
}

.fab:hover {
  color: var(--color-white);
}



/*===== Regular navbar =====*/
.main_nav_container {
  display: grid;
  grid-template-columns: max-content minmax(50px, auto) max-content max-content;
  grid-template-rows: auto;
  color: var(--secondary-text);
  font-size: 26px;
  background-color: var(--color-dark-gray);
  color: var(--color-white-gray);
  font-family: var(--main-font-family);
  justify-items: center;
  padding: 10px 10px 0px 10px;
}
.nav_container {
  align-self: center;
  align-content: center;
}
.nav_item {
  width: 100%;
  height: 100%;
  position: relative;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  transition: 0.25s;
}
.nav_item li {
  display: inline-block;
  padding: 0px 20px
}
.nav_image img{
  width: 80px;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  padding: 0px 0px 0px 20px;
  justify-self: center;
  place-self: center;
}
.nav_download {
  background-color: var(--color-gray);
  border: 1px solid var(--color-white);
  letter-spacing: 0.4px;
  margin-left: 20px;
  transition: 0.25s;
}

.nav_link {
  padding: 10px;
}
.nav_download:hover {
  background-color: var(--color-dark-gray);
}
.nav_end {
  justify-self: end;
  font-weight: 900;
  letter-spacing: 1px;
}

/* This is the hover menu you see when you hover on game, community and so on */  
.nav_absolute {
  position: absolute;
  z-index: 10;
  text-align: left;
  display: none;
  top: 30px;
  
}
.nav_absolute li {
  padding: 20px;
  display: block;
  background-color: var(--color-dark-gray);
  transition: 0.25s;
}

.nav_absolute li:hover{
  color: var(--color-white);
  background-color: var(--color-gray);

}
.nav_list:hover {
  color: var(--color-white);
  transition: 0.25s;

}
.nav_list li {
  color: var(--color-white-gray);
}
.fa-caret-down {
  transition: 0.35s;
}
.nav_list:hover .fa-caret-down {
  transform: rotate(-0.25turn);
  transition: 0.5s;
  color: var(--color-white);
}


@media (max-width: 1200px) {
  .main_nav_container {
    display: none;
  }
  .main_topnav_container {
    display: none;
  }
}

/* Mobile navbar */
.mobilenav_sticky {
  position: sticky;
  display: none;
  top: 0;
  z-index: 10;
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
 }

.main_mobilenav_container {
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: auto;
  justify-items: left;
  font-family: "Orbitron";
  text-align: left;
  font-size: 25px;
}

#mobilenav_bars {
  padding: 10px;
  background-color: var(--color-dark-gray);
  border: 1px solid var(--color-gray);
  justify-self: right;

}

.mobilenav_bar1, .mobilenav_bar2, .mobilenav_bar3 {
  width: 35px;
  height: 5px;
  background-color:var(--color-white);
  margin: 6px 0;
  transition: 0.4s;
}

.mobilenav_change .mobilenav_bar1 {
  transform: rotate(-45deg) translate(-9px, 6px) ;
}
.mobilenav_change .mobilenav_bar2 {
  opacity: 0;
}
.mobilenav_change .mobilenav_bar3 {
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.mobilenav_mobile {
opacity: 0;
height: 0;
}

.mobilenav_mobile_active {
  opacity: 100;
  height: 100%;
  transition: 1s;
}

#mobilenav_bg_sticky {
  position: sticky;
  top: 0;
  z-index: 9;
}
#mobilenav_bg {
  position: absolute;
}

.mobilenav_bg_active {
  background-color:var(--color-black);
  width: 100vw;
  height: 100vh;
  opacity: 90%;
  transition: 0.5s;
}

.mobilenav_item {
  margin: 10px;
  padding: 25px 10px 0px 0px;
}

.mobilenav_login {
  margin: 10px;
  padding: 25px 10px 0px 0px;
  padding-top: 0px;
}
.mobilenav_item ul {
  list-style-type: none;
  margin: 0px;
  padding-top: 10px;
}

.mobilenav_ul {
  display: none;
}

.mobilenav_ul li {
  padding: 15px 10px 15px 10px;
  color:var(--color-white-gray);
}

.mobilenav_active {
  display: block;
  
}

.mobilenav_social li{
  display: inline-block;
  padding: 10px;
}

.mobilenav_caret .fa-caret-down {
  transform: rotate(-0.25turn);
  transition: 0.5s;
  color:var(--color-white);
}

/* ============= Main Content ===================*/
/* Main Page */



#main_banner_container {
  display: grid;
  grid-template-columns: auto;
  background-image: url("../img/home1.jpg"); 
  background-position: center;
  background-size: cover;
  padding: 300px 0px;
  font-size: 35px;
  letter-spacing: 1.2PX;
  text-shadow: 0 2px 4px rgb(0 0 0 / 80%), 0 8px 16px rgb(0 0 0 / 60%);
}

.banner_item {
  width: 100%;
  height: 100%;
  position: relative;
  text-transform: uppercase;
  display: grid;
}

.banner_title {
  font-size: 50px;
  font-family: "orbitron";
  font-weight: bolder;
  letter-spacing: 6px;
  padding: 20px 0px;
}

.banner_subtitle {
  font-size: 25px;
  font-family: "electrolize";
  font-weight: 600;
  padding: 20PX 0px;
}


/* Below Main page */

@media (max-width: 800px) {
  #main_banner_container {
    padding: 150px 10px;
    gap: 0px;
    font-size: 10px;
  }
  .banner_subtitle {
    font-size: 12px;
    padding: 5px;
  }
  .banner_title {
    font-size: 20px;
    padding: 5px;
  }
}


@media (max-width: 400px) {
  #main_banner_container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 130px 0px;
    gap: 0px;
  }
  .banner_title {
    font-size: 18px;
  }
  .banner_subtitle {
    font-size: 12px;
  }
}

/* Scroll container */


.scroll_sticky {
  position: relative;
  padding: 50px;
  font-family: var(--title-font-family);
  font-size: 60px;
  text-align: justify;
  text-justify: inter-word;
}

.scroll_absolute {
  position: absolute;
  left: 100px;
}




.mainScrollContainer {
  display: grid;
  grid-template-columns: repeat(1, auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
  background-image: url("../img/blackbg.jpg");
  background-size: cover;
  padding: 100px 50px;
}

.scroll_container {
  justify-content: end;
}
.scroll_item {
  overflow: hidden;
  object-fit: contain;
  display: grid;
  justify-self: end;
  
}

.scroll_text {
  font-size: 22px;
  padding: 20px 8vw 20px 45vw;
  text-align: justify;
  line-height: 1.7em;
  transition: 1.5s;
}



.gold_text {
  color: var(--color-gold); 
}
.scroll_image {
  width: 60%;
  justify-self: end;

}


.scroll_item .scroll_image img {
  width: 80%; 
  height: 100%;
  border-radius: 20px;
}


.scrollFade {
  opacity: 0;
}




/* Animation copied from Animista */
/* ----------------------------------------------
 * Generated by Animista on 2022-2-7 19:34:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 .scrolled {
   opacity: 1;
   transition: 2s;
 }
 .scrolled.scrolledRight {
	animation: scrolledRight 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

  
}
 @keyframes scrolledRight {
  0% {
    transform: scale(0.5);
    transform-origin: 100% 50%;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 50%;
  }
}

.scrolled.scrolledLeft {
	animation: scrolledLeft 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  
}
@keyframes scrolledLeft {
  0% {
    transform: scale(0.5);
    transform-origin: 0% 50%;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 50%;
  }
}



/* Separating WHITE banner */

.mainThinContainer {
  display: grid;
  grid-template-columns: auto;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  padding: 80px 0px;
  font-size: 50px;
  letter-spacing: 1.2PX;
  border: 15px solid var(--color-black);
  font-family: var(--title-font-family);


}

/* MultiCategory Container */


/* Container with multiple containers within it */

.mainSplitContainer {
  display: grid;
  grid-template-columns: repeat(12, minmax(0px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  background-color: var(--color-black);
  padding: 10px 300px;
  justify-items: center;
  gap: 15px;
  font-size: 2vw;
}

.splitContainer {
  justify-items: center;
}

.split3 {
  grid-column: span 3;
  
}

.split6 {
  grid-column: span 6;
}
.split8 {
  grid-column: span 8;
}
.split10 {
  grid-column: span 10;
}

.split12 {
  grid-column: span 12;
}
.splitItem {
  position: relative;
  overflow: hidden;
  object-fit: contain;
  display: grid;
  justify-self: end;
}

.splitAbsoluteText {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 10px 2px 4px rgb(0 0 0 / 100%), 0 8px 16px rgb(0 0 0 / 100%);
  transition: 1s;
}

.splitText {
  font-size: 0.5em;
  opacity: 0;
  transition: 0.5s;
}

.splitImage {
  transition: 1s;
}

.splitImage img {
  width: 100%; 
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  filter: brightness(0.5);
  transition: 0.4s ;
}





/* Media Changes */
@media (max-width: 1600px) {
  .scroll_absolute {
    position: relative;
  }

  .scroll_container {
    justify-content: center;
  }

  .scroll_text {
    padding: 20px 100px;
  }

  .scroll_sticky {
    padding: 10px;
    font-size: 50px;
    width: 600px;
  }

  .mainThinContainer { 
    padding: 30px;
  }

  .mainSplitContainer {
    padding: 10px 100px;
  }
}

@media (max-width: 800px) {
  .main_topnav_container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .greynav_container {
    justify-self: center;
    }
    .fab {
      padding: 10px 0px;
    }
  
    #main_banner_container {
      padding: 150px 10px;
      gap: 0px;
      font-size: 10px;
    }
    .banner_subtitle {
      font-size: 12px;
      padding: 5px;
    }
    .banner_title {
      font-size: 20px;
      padding: 5px;
    }
  
  .mainScrollContainer {
    padding: 10px;
    justify-content: center;
    align-content: center;
  }


  .scroll_text {
    padding: 20px 10px;
    text-align: center;
    font-size: 16px;
  }

  .scroll_sticky {
    padding: 0px;
    width: 100%;
    text-align: center;
  }

  .scroll_image {
    justify-self: center;
    width: 90vw;
  }
  .scroll_absolute {
    font-size: 30px;
    left: 0;
  
  }
  .mainThinContainer {
    padding: 30px;
    font-size: 24px;
  }

  .mainSplitContainer {
    margin: 20px;
    font-size: 15px;
    padding: 0px;
    gap: 5px;

  }
}



@media (max-width: 400px) {
  #main_banner_container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 130px 0px;
    gap: 0px;
  }
  .banner_title {
    font-size: 18px;
  }
  .banner_subtitle {
    font-size: 12px;
  }
}

@media (max-width:1200px) {
  .mobilenav_sticky {
    display: block;
    }
  }
  
@media (max-width:1100px) {
  .mobilenav_sticky {
    display: block;
    }
}

@media (max-width: 1100px) {
  .main_nav_container {
    display: none;
  }
  .main_topnav_container {
    display: none;
  }
}
