extends ../layouts/default
block main 
  #main_banner_container.aiBanner
    .banner_container.banner_title
      .banner_item Improved AI's on
    .banner_container.banner_title
      .banner_item FORGED ALLIANCE FOREVER
    .banner_container
      .banner_item
        .banner_subtitle Cold blooded machines that can kill even the top players
  .splat_main_container.splat_black_background
    .splat_container
      .splat
        img(src='../../img/blacksplat.png' alt='')
  .rectangleSpace
    .mainSplitContainer.mainRectangleContainer
      .splitContainer.column8
          .responsiveTextTitle.highlightText.rectangleContainer
            | M27AI by Maudlin27
            .responsiveText.responsiveText
              |Adaptive AI, particularly effective against turtles and on 5x5 and 10x10 chokepoint maps.  Currently estimated as a challenge for sub-400 ranked players 1v1 
              br
              button.landingButton Learn More

              
      .splitContainer.column4
        .splitItem.rectangleItem 
          .splitImage.rectangleImage
            img(src='../../img/ai/maudlin.jpg' alt='')
    .mainSplitContainer.mainRectangleContainerReverse
      .splitContainer.column8
          .responsiveTextTitle.highlightText.rectangleContainer
            | RGNAI by Relent0r
            .responsiveText.responsiveText
              |AI aimed at the players wanting to learn 1v1 gameplay. It provides player an avenue to play against something that emulates some of the methods ladder players use to challenge opponents in the first stages of a game
              br
              button.landingButton Learn More
      .splitContainer.column4
        .splitItem.rectangleItem 
          .splitImage.rectangleImage
            img(src='../../img/ai/relentor.jpg' alt='')

    
block js 
  script(src='../../js/ai.js')
    script(src='https://kit.fontawesome.com/33e7e258d3.js' crossorigin='anonymous') 