extends ../layouts/default
block stylesheet
  link(rel='stylesheet' href='../../css/developer.css')
block main 
  #main_banner_container.devsBanner
    .banner_container.banner_title
      .banner_item CONTRIBUTORS AND DEVELOPERS OF
    .banner_container.banner_title
      .banner_item FORGED ALLIANCE FOREVER
    .banner_container
      .banner_item
        .banner_subtitle thanks for creating such a masterpiece
  .splat_main_container.splat_black_background
    .splat_container
      .splat
        img(src='../../img/blacksplat.png' alt='')
  .splat_main_container.splat_black_background
    .splat_container
      .splat_rotate
        img(src='../../img/blacksplat.png' alt='')
  .mainThinContainer
    .thinContainer 
      .thinItem 
      .highlightText MODERATOR TEAM
  .splat_main_container.splat_black_background
    .splat_container
      .splat
        img(src='../../img/blacksplat.png' alt='')
  .mainSplitContainer.mainContentContainer
    .splitContainer.column3.contentContainer
      .splitImage.contentImage
        img(src='../../img/devs/gieb.jpg' alt='')
      .responsiveTextTitle.highlightText Gieb
        .responsiveTextNoPadding.highlightText Moderation Councilor
    .splitContainer.column3.contentContainer
      .splitImage.contentImage
        img(src='../../img/devs/gorton.jpg' alt='')
      .responsiveTextTitle Gorton
        .responsiveTextNoPadding Member
    .splitContainer.column3.contentContainer
      .splitImage.contentImage.developer
        img(src='../../img/devs/swkoll.jpg' alt='')
      .responsiveTextTitle Swkoll
        .responsiveTextNoPadding Member 
    .splitContainer.column3.contentContainer
      .splitImage.contentImage
        img(src='../../img/devs/tex.jpg' alt='')
      .responsiveTextTitle Tex
        .responsiveTextNoPadding Member
    .splitContainer.column3.contentContainer
      .splitImage.contentImage
        img(src='../../img/devs/voodoo.jpg' alt='')
      .responsiveTextTitle Voodoo
        .responsiveTextNoPadding Member
    .splitContainer.column3.contentContainer
      .splitImage.contentImage
        img(src='../../img/devs/resistance.jpg' alt='')
      .responsiveTextTitle Resistance
        .responsiveTextNoPadding Member 
    .splitContainer.column3.contentContainer
      .splitImage.contentImage
        img(src='../../img/devs/swkoll.jpg' alt='')
      .responsiveTextTitle Swkoll#3974
        .responsiveTextNoPadding Member
