.mainFooterContainer 
.footerContainer 
    .footerItem 
    img(src='../img/faflogo.svg' alt='')
.footerContainer 
    .footerItem 
    ul NAV  
        a(href='https://github.com/FAForever' target='_blank')
        li HOME
        a(href='https://github.com/FAForever' target='_blank')
        li FAF NEWS 
        a(href='https://github.com/FAForever' target='_blank')
        li GAME   
        a(href='https://github.com/FAForever' target='_blank')
        li COMMUNITY
        a(href='https://github.com/FAForever' target='_blank')
        li COMPETITIVE
.footerContainer 
    .footerItem 
    ul CONTRIBUTE  
        a(href='https://github.com/FAForever' target='_blank')
        li DONATIONS
        a(href='https://github.com/FAForever' target='_blank')
        li VOLUNTEER POSITIONS

.footerContainer 
    .footerItem 
    ul LEGAL
        a(href='https://github.com/FAForever' target='_blank')
        li TERMS OF SERVICE
        a(href='https://github.com/FAForever' target='_blank')
        li PRIVACY STATEMENT          
        a(href='https://github.com/FAForever' target='_blank')
        li FAF ASSOCIATION

.footerContainer 
    .footerItem 
    ul CONTACT US
        a(href='https://github.com/FAForever' target='_blank')
        li DISCORD

        a(href='https://github.com/FAForever' target='_blank')
        li ASSOCIATION  
