extends templates/layouts/default
block stylesheet
  link(rel='stylesheet' href='../css/index.css')

block main  
  
  a(href='templates/views/indextrue.html')
    button.indexButton.responsiveTextTitle Click me to see the FAF Website 4.0!
