html {
    font-family:"Electrolize", "acumin-pro-extra-condensed", "hot-salsa";
  }
  
  body {
    text-align: center;
    position: relative;
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.8)),url("/Img/bg1.jpg");
    background-attachment: fixed;
    background-position: center center;
    margin-bottom: 30px;
    font-family:"Electrolize", "acumin-pro-extra-condensed", "hot-salsa";


  }


  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;

  }

// Below I will keep the classes that I consider global
// Meaning, they will be reused over the website multiple times

.global_title {
  font-family:'russo one' ;
  color: rgb(101, 83, 255);
  font-size:100px;
  letter-spacing: 3px;
  font-weight: bolder;
  text-align: center;
}
.global_subtitle {
  color: white;
  font-size: 40px;
  padding-bottom: 10px;
}

.global_main_container {
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: minmax(200px, 1fr) repeat(auto-fit, minmax(100px, 1.1fr));
  grid-gap: 0.5vw;
  padding-top: 10px;
  padding-left: 140px;
  padding-right: 140px;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}


.global_item {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.global_item .global_image img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  margin-top: 20px;
  overflow: hidden;
}

  //Nav Bar of course

  .main_nav_supercontainer { // The purpose of the super container is to have a background
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: black;

  }
  .main_nav_container {
    display:grid;
    grid-template-columns: minmax(10px, 60px) repeat(auto-fit,minmax(60px, 1fr));
    grid-template-rows: minmax(10px, 60px);
    color: white;
    font-size:20px;
    letter-spacing: 0.8px;
    font-weight: bolder;
    background-image: linear-gradient( rgb(0, 0, 0), rgba(27, 27, 27, 0.534), rgb(0, 0, 0));
    border:2px solid rgb(131, 131, 131);
    margin: 20px;
    margin-left: 80px;
    margin-right: 80px;
    
    
  }
  
  .nav_item {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1s;
    display: grid;
    place-items: center; 
    
  }
  
  .nav_item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .nav_item .image img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }

  .nav_hover:hover{
    background-color: rgb(71, 71, 71);
  }

  .nav_item  a{
    color: rgb(255, 255, 255); 
    
  }


  





  //NAV NAV NAV NAV NAVNAV NAV NAV NAV NAVNAV NAV NAV NAV NAVNAV NAV NAV NAV NAVNAV NAV NAV NAV NAVNAV NAV NAV NAV NAVNAV NAV NAV NAV NAVNAV NAV NAV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAVV NAV NAV
  //MAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAIN


//Styling for the containers in the main page



  .main_main_container {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: minmax(200px, 1fr) repeat(auto-fit, minmax(100px, 1.1fr));
    grid-gap: 0.5vw;
    padding-left: 140px;
    padding-right: 140px;
  
  
  }


  .main_item {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    
  }
  
  .main_item .main_image img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    margin-top: 20px;
    overflow: hidden;
    
  }
  .main_image {
    margin: 30px;
  }


  .main_hover{
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.514);
  }
  .main_hover:hover {
    filter:brightness(160%);
    transform: scale(1.1);
    background-color: rgb(12, 12, 12);
  }

  .main_text {
    font-family:'Russo One';
    color: white;
    font-size: 25px;

  } 

  .main_subtext {
    font-family:'Roboto';
    color: rgb(185, 185, 185);
    font-size: 20px;
    font-weight: lighter;
    padding: 5px;
    padding-bottom: 15px;

  } 

  


  .wtitle {
    grid-column: 1 / -1;
  }




    //MAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAINMAINMAIN MAIN MAIN
    // UNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNIT


    .main_unit_container {
      display:grid;
      grid-template-columns: repeat( auto-fit, minmax(170px, 1fr) );
      grid-template-rows: repeat( auto-fit, minmax(170px, 1fr) );
      grid-gap: 0.5vw;
      padding-left: 140px;
      padding-right: 140px;
      grid-auto-flow: row;
    }

    
    .unit_item .unit_image img {
      width: 100%;
      height: 100%;
      object-fit:cover;
      overflow: hidden;
      color: rgb(86, 153, 153);    }

    .unit_item {
      width: 100%;
      height: 100%;
      position: relative;
      display: grid;
      place-items: center;
      
    }

    .unit_filter {
      display: none;
    }
    .show {
      display:grid;
    }
    .btn {
      color: white;
      display: inline-block;
      padding: 10px;
      font-size: 20px;
      background-color:rgba(27, 39, 95, 0.87) ;
      margin: 20px;
      border: 4.5px solid rgb(255, 255, 255);
      border-radius: 10px;
      font-family: 'electrolize';
      font-weight: bolder;
      letter-spacing: 0.8px;
      cursor: pointer; 
      transition: 0.4s;
    }

    .btn:hover {
      background-color:rgb(86, 117, 255) ;
      border:6px solid rgb(41, 0, 117);
      transform: scale(1.25);
    }

    .btn.active {
      background-color:rgb(80, 101, 194) ;
      border:6px solid rgb(31, 0, 88);
      transform: scale(1.35);
    }

    .icon {
      position: absolute;
      width: 20%;
      height: 20%;
      top: 5px;
      right: 5px;
      opacity: 0.7;
    }
    .tier {
        position: absolute;
        font-size: 20px;
        letter-spacing: 5px;
        color: rgba(204, 204, 204, 0.705);
        top: 10px;
        left: 10px;
        font-family: 'IBM Plex Sans Arabic';
        font-weight: 1000;
    }

  
    .unit_hover:hover {
      filter:brightness(160%);
      transform: scale(1.15);
      background-color: rgb(32, 45, 88);;
      border: 3px solid rgb(37, 96, 173);
      overflow: hidden;
    }
  
    .unit_hover{
      transition: 0.25s;
      background-color: rgba(33, 30, 78, 0.505);
    
    }
  
    .unit_text {
      font-family:'Russo One';
      color: white;
      font-size: 18px;
      -webkit-text-stroke: 0.3px black;
      position: absolute;
      bottom: 40px;
      letter-spacing: 1px;
    } 
    .unit_tier_text {
      font-family:'Russo One';
      color: white;
      font-size: 80px;
      letter-spacing: 20px;
      position: absolute;
    } 
  
    .unit_subtext {
      font-family:'roboto';
      color: rgb(185, 185, 185);
      font-size: 14px;
      font-weight: lighter;
      position: absolute;
      align-self: center;
      bottom: 15px;
    } 



  
  
    .wtitle {
      grid-column: 1 / -1;
    }


    









  //UNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNITUNIT UNIT UNIT UNIT
  // DETAILS DETAILS DETAILSDEDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSTAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILSDETAILS DETAILS DETAILS


