html {
  font-family: "Electrolize", "acumin-pro-extra-condensed", "hot-salsa";
}

body {
  text-align: center;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(25, 11, 87, 0.6)), to(rgba(0, 0, 0, 0.8))), url("/Img/bg1.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(25, 11, 87, 0.6), rgba(0, 0, 0, 0.8)), url("/Img/bg1.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: contain 100px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: azure;
}

.main_nav_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(40px, 100px) (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: minmax(40px, 100px) repeat(auto-fit, minmax(200px, 1fr));
  -ms-grid-rows: minmax(40px, 100px);
      grid-template-rows: minmax(40px, 100px);
  grid-gap: 10px;
  background-color: rgba(0, 0, 0, 0.253);
  color: white;
  font-size: 35px;
  letter-spacing: 3.2px;
  padding-bottom: 30px;
}

.nav_item {
  width: 100%;
  height: 100%;
  position: relative;
}

.nav_item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nav_item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav_item {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.nav_item {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.nav_item:hover {
  background-color: #8f8f8f;
  color: black;
}

.main_main_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  -ms-grid-rows: minmax(200px, 1fr) (minmax(100px, 1.1fr))[auto-fit];
      grid-template-rows: minmax(200px, 1fr) repeat(auto-fit, minmax(100px, 1.1fr));
  grid-gap: 0.5vw;
  padding-left: 140px;
  padding-right: 140px;
}

.main_container {
  margin: 0px;
}

.main_item {
  width: 100%;
  height: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.main_item .main_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 20px;
  overflow: hidden;
}

.main_image {
  margin: 30px;
}

.hover:hover {
  -webkit-filter: brightness(160%);
          filter: brightness(160%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #0c0c0c;
}

.hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.514);
}

.main_text {
  font-family: 'Russo One';
  color: white;
  font-size: 25px;
}

.main_subtext {
  font-family: 'Roboto';
  color: #b9b9b9;
  font-size: 20px;
  font-weight: lighter;
}

.main_title {
  font-family: 'russo one';
  color: #6553ff;
  font-size: 100px;
  letter-spacing: 2vw;
  font-weight: 1000;
}

.main_subtitle {
  font-family: 'electrolize';
  color: white;
  font-size: 40px;
  padding-bottom: 40px;
}

.wtitle {
  grid-column: 1 / -1;
}

.main_unit_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(170px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  -ms-grid-rows: (minmax(170px, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 0.5vw;
  padding-left: 120px;
  padding-right: 120px;
  grid-auto-flow: row;
}

.unit_item .unit_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  color: #569999;
}

.unit_item {
  width: 100%;
  height: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.unit_filter {
  display: none;
}

.show {
  display: -ms-grid;
  display: grid;
}

.btn {
  color: white;
  display: inline-block;
  padding: 18px;
  font-size: 25px;
  background-color: rgba(27, 39, 95, 0.87);
  margin: 20px;
  border: 6px solid white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #5675ff;
  border: 6px solid #290075;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.btn.active {
  background-color: #5065c2;
  border: 6px solid #1f0058;
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
}

.tier_text {
  background-color: #2e4197;
  border: 6px solid #c3bfff;
  color: white;
  padding: 20px;
  margin-bottom: 22px;
  font-size: 30px;
  letter-spacing: 3px;
  margin-top: 30px;
  padding-left: 15vw;
  padding-right: 15vw;
}

.icon {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 5px;
  right: 5px;
  opacity: 0.7;
}

.tier {
  position: absolute;
  font-size: 20px;
  letter-spacing: 5px;
  color: rgba(204, 204, 204, 0.705);
  top: 10px;
  left: 10px;
  font-family: 'IBM Plex Sans Arabic';
  font-weight: 1000;
}

.unit_hover:hover {
  -webkit-filter: brightness(160%);
          filter: brightness(160%);
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  background-color: #202d58;
  border: 3px solid #2560ad;
  overflow: hidden;
}

.unit_hover {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-color: rgba(33, 30, 78, 0.505);
}

.unit_text {
  font-family: 'Russo One';
  color: white;
  font-size: 18px;
  -webkit-text-stroke: 0.3px black;
  position: absolute;
  bottom: 40px;
  letter-spacing: 1px;
}

.unit_tier_text {
  font-family: 'Russo One';
  color: white;
  font-size: 80px;
  letter-spacing: 20px;
  position: absolute;
}

.unit_subtext {
  font-family: 'roboto';
  color: #b9b9b9;
  font-size: 14px;
  font-weight: lighter;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  bottom: 15px;
}

.unit_title {
  font-family: 'russo one';
  color: #6553ff;
  font-size: 100px;
  letter-spacing: 2vw;
  font-weight: 1000;
}

.unit_subtitle {
  font-family: 'electrolize';
  color: white;
  font-size: 40px;
  padding-bottom: 40px;
}

.wtitle {
  grid-column: 1 / -1;
}
/*# sourceMappingURL=UEFMain.css.map */