doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/CSS/UEFMain/UEFMain.css")
        link(rel="stylesheet" href="https://use.typekit.net/lty2ukf.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap")
        title Javi Unit Database
    body
        // Inspiration places below
        // https://planetaryannihilation.com/
        // https://starcraft2.com/en-us/media
        // https://www.ageofempires.com/games/age-of-empires-iv
        // https://www.beyondallreason.info/armada
        
        // Nav bar, is copied along all places
        .main_greynav_container
            .greynav_container
                .greynav_item
                    a(href="/HTML/UEFMain/UEFMain.html").greynav_image
                        img(src="/Img/faflogo.png", alt="")
            .greynav_container
                .greynav_item.greynav_hover Forums
            .greynav_container
                .greynav_item.greynav_hover Support FAF
            .greynav_container
                 .greynav_item.greynav_hover Official Discord


        .main_nav_container
            .nav_container
                .nav_list.nav_item
                    ul
                        li
                            a(href="/HTML/UEFMain/Home.html") GAME
                        li
                            a(href="") NEWS
                        li
                            a(href="") COMMUNITY
                        li
                            a(href="") COMPETITIVE
            .nav_container.nav_end
                .nav_item.nav_hover LOGIN
            .nav_container.nav_end.nav_download
                .nav_item.nav_hover DOWNLOAD
        //Main containers

        .main_main_container
            .main_container.wtitle
                .main_item
                    .global_title UEF
                    .global_subtitle Chunkiest boys in the galaxy

            .main_container.main_hover 
                .main_item
                    .main_image
                        a(href="/HTML/UEFMain/UEFUnits.html")
                            img(src="/img/UEFLAND.png", alt="")  
                    .main_text  Land
                    .main_subtext Mechs and tanks with a lot of health

            .main_container.main_hover 
                .main_item
                    .main_image
                        img(src="/img/uefair.png", alt="")
                    .main_text Air
                    .main_subtext Fighter jets and the only T3 transport

            .main_container.main_hover 
                .main_item
                    .main_image
                        img(src="/img/uefnavy.png", alt="")
                    .main_text Navy
                    .main_subtext Classic battleships and shield boats

            .main_container.main_hover  
                .main_item
                    .main_image
                    .main_text Experimentals
                    .main_subtext Choose your flavor of artillery

            .main_container.main_hover 
                .main_item
                    .main_image
                    .main_text Structures
                    .main_subtext Strong shields and chunky buildings

            .main_container.main_hover  
                .main_item
                    .main_image
                    .main_text Defenses
                    .main_subtext Only T3 Point Defense in the game
                    
            .main_container.main_hover  
                .main_item
                    .main_image
                    .main_text Support Commanders
                    .main_subtext Because one ACU isn't enough





