doctype html
html(lang="en")
    head
        //Rowey is the best
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/CSS/UEFMain/UEFMain.css")
        link(rel="stylesheet" href="https://use.typekit.net/lty2ukf.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap")
        
        title Javi UnitDatabase
    body
     
        // Inspiration places below
        // https://planetaryannihilation.com/
        // https://starcraft2.com/en-us/media
        // https://www.ageofempires.com/games/age-of-empires-iv
        // https://www.beyondallreason.info/armada
        
        // Nav bar, is copied along all places
        .main_greynav_container
            .greynav_container
                .greynav_item
                    a(href="/HTML/UEFMain/UEFMain.html").greynav_image
                        img(src="/Img/faflogo.png", alt="")
            .greynav_container
                .greynav_item.greynav_hover Forums
            .greynav_container
                .greynav_item.greynav_hover Support FAF
            .greynav_container
                 .greynav_item.greynav_hover Official Discord


        .main_nav_container
            .nav_container
                .nav_list.nav_item
                    ul
                        li
                            a(href="/HTML/UEFMain/Home.html") GAME
                        li
                            a(href="") NEWS
                        li
                            a(href="") COMMUNITY
                        li
                            a(href="") COMPETITIVE
            .nav_container.nav_end
                .nav_item.nav_hover LOGIN
            .nav_container.nav_end.nav_download
                .nav_item.nav_hover DOWNLOAD
        
        
        // Just the UEF title
        .global_main_container 
            .global_container 
                .global_item
                    .global_title UEF
                    .global_subtitle Mechs in multiple flavors
        
        // Main Unit container, here goes everything below the navbar 
        .main_unit_container
            // Unit filter selection boxes, these allow us to show all units or just t1 or t2, etc.
            .unit_container.wtitle
                .unit_item 
                    .unit_box
                        button.btn.active(onclick="filterSelection('all')") Show all
                        button.btn(onclick="filterSelection('t1')") T1
                        button.btn(onclick="filterSelection('t2')") T2

                        


            //Below are the unit containers, this is where you will see the unit boxes such as engi, t1 tank, etc. However, it is very copy pastey as you can see. There probably is a better way to run this...
            
            .unit_container.unit_hover.unit_filter.t1
                .unit_item
                    .unit_image
                        img(src="/img/uefland/uefengy.png", alt="")
                    .unit_text Engineer
                    .unit_subtext UEF-Flavor
                    .tier T1

            .unit_container.unit_hover.unit_filter.t1
                .unit_item
                    .unit_image
                        img(src="/img/uefland/snoop.png", alt="")

                    .unit_text Snoop
                    .unit_subtext Land Scout
                    .tier T1

            .unit_container.unit_hover.unit_filter.t1
                .unit_item
                    .unit_image
                        img(src="/img/uefland/mech.png", alt="")
                    .unit_text Mech Marine
                    .unit_subtext Light Assault Bot
                    .tier T1

            .unit_container.unit_hover.unit_filter.t1
                .unit_item
                    .unit_image
                        img(src="/img/uefland/stryker.png", alt="")
                    .unit_text MA12 Striker
                    .unit_subtext Medium Tank
                    .tier T1

            .unit_container.unit_hover.unit_filter.t1
                .unit_item
                    .unit_image
                        img(src="/img/uefland/archer.png", alt="")
                    .unit_text Archer
                    .unit_subtext Mobile Anti-Air Gun
                    .tier T1

            .unit_container.unit_hover.unit_filter.t1
                .unit_item
                    .unit_image
                        img(src="/img/uefland/lobo.png", alt="")
                    .unit_text Lobo
                    .unit_subtext Mobile Light Artillery
                    .tier T1
           

            // T2 Starts here


            .unit_container.unit_hover.unit_filter.t2
                .unit_item
                    .unit_image
                        img(src="/img/uefland/engineert2.png", alt="")

                    .unit_text Engineer
                    .unit_subtext UEF-Flavor
                    .tier T2

            .unit_container.unit_hover.unit_filter.t2
                .unit_item
                    .unit_image
                        img(src="/img/uefland/sparkyt2.png", alt="")
                    .unit_text Sparky
                    .unit_subtext Field Engineer
                    .tier T2
                    
            .unit_container.unit_hover.unit_filter.t2
                .unit_item
                    .unit_image
                        img(src="/img/uefland/mongooset2.png", alt="")
                    .unit_text Mongoose
                    .unit_subtext Gattling Bot
                    .tier T2

            .unit_container.unit_hover.unit_filter.t2
                .unit_item
                    .unit_image
                        img(src="/img/uefland/pillart2.png", alt="")
                    .unit_text Pillar
                    .unit_subtext Heavy Tank
                    .tier T2

            .unit_container.unit_hover.unit_filter.t2
                .unit_item
                    .unit_image
                        img(src="/img/uefland/riptidet2.png", alt="")
                    .unit_text Riptide
                    .unit_subtext Amphibious Tank
                    .tier T2

            .unit_container.unit_hover.unit_filter.t2
                .unit_item
                    .unit_image
                        img(src="/img/uefland/flakt2.png", alt="")
                    .unit_text Sky Boxer
                    .unit_subtext Mobile AA Flak Artillery
                    .tier T2

            .unit_container.unit_hover.unit_filter.t2
                .unit_item
                    .unit_image
                        img(src="/img/uefland/shieldt2.png", alt="")
                    .unit_text Parashield
                    .unit_subtext Mobile Shield Generator
                    .tier T2

            .unit_container.unit_hover.unit_filter.t2
                .unit_item
                    .unit_image
                        img(src="/img/uefland/mmlt2.png", alt="")
                    .unit_text Flapjack
                    .unit_subtext Mobile Missile Launcher
                    .tier T2


            // Javascript document has to be placed below HTML or it gets bugged (can't get certain classes or buttons if they arent loaded yet cant we lol?)         
            script(src="/HTML/UEFMain/app.js")
